<section class="robot-section">
    <div class="robot" *ngFor="let robot of robots">
        <div class="header">Roboter 1</div>
        <div class="details-section">
            <div class="detail">
                <p>Status:</p>
                <p class="info">Running</p>
            </div>
            <div class="detail">
                <p>Modus:</p>
                <p class="info">Auto</p>
            </div>
            <div class="detail">
                <p>Aktueller Auftrag:</p>
                <p class="info">Auftrag 01</p>
            </div>
            <div class="detail">
                <p>Programm:</p>
                <p class="info">Programm Nr 1</p>
            </div>
            <div class="detail">
                <p>Geschwindigkeit:</p>
                <p class="info">100</p>
            </div>
            <div class="detail">
                <p>Programmversion:</p>
                <p class="info">1.3.2</p>
            </div>
            <div class="detail">
                <p>Ist-Taktzeit:</p>
                <p class="info">32s</p>
            </div>
            <div class="detail">
                <p>Soll-Taktzeit:</p>
                <p class="info">30s</p>
            </div>
        </div>
    </div>
</section>