@import "../../styles/variables.scss";
.search {
    float: right;
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
    position: relative;
    width: fit-content;
    & input {
        border-radius: 1000rem;
        border: none;
        background-color: #F4F4F4;
        padding: 1rem 3.5rem;
        &::placeholder {
            font-size: 2.2rem;
            font-family: $font-secondary;
            color: $color-text 50%;
        }
    }
    & svg {
        position: absolute;
        right: 2rem;
        top: 50%;
        transform: translateY(-50%);
    }
}

.product-table {
    margin-top: 5rem;
    width: 100%;
    text-align: left;
    font-size: 1.8rem;
    font-family: $font-secondary;
    border-collapse: collapse;
    thead {
        background-color: #F4F4F4;
        tr {
            height: 5rem;
            th {
                font-weight: 100;
                &.th-pdf {
                    text-align: center;
                }
            }
        }
    }
    tbody {
        tr {
            height: 5rem;
            &:nth-child(even) {
                background-color: #F4F4F4;
            }
            th {
                font-weight: 100;
                &.th-pdf {
                    text-align: center;
                    & svg :hover {
                        cursor: pointer;
                    }
                }
                &.triangle {
                    transition: all .2s;
                    &:hover {
                        cursor: pointer;
                    }
                    & svg {
                        padding: 1rem;
                    }
                }
                &.triangle-open {
                    & svg {
                        transform: rotate(90deg);
                        padding: 1rem;
                        cursor: pointer;
                        transition: all .2s;
                    }
                }
            }
        }
    }
}

.fold {
    display: none;
    &-open {
        display: table-row;
        transition: all cubic-bezier(0.165, 0.84, 0.44, 1);
    }
    & .order-overview {
        position: relative;
        & .order-todo {
            display: inline-block;
            margin-left: 15%;
            margin-top: 1rem;
            margin-bottom: 1rem;
        }
        & .runningOrder {
            margin-top: 1rem;
            text-align: center;
            & .labelDescription {
                font-weight: bold;
            }
        }
    }
    & .line {
        position: absolute;
        top: 35%;
        left: 50%;
        right: 50%;
        display: inline;
        border: 2px solid #a4a4a48b;
        bottom: 10%;
        height: inherit;
        border-radius: 100rem;
    }
    & .order-completed {
        // display: inline-block;
        float: right;
        // border: 1px solid #000;
        margin-right: 15%;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
    & ul {
        margin: 0 0 0 2rem;
        padding: 0;
        list-style: none;
    }
}